

<div class="main top-main" style = "background-image: url(/assets/nature2.jpeg);">
  <div class="top-message">
    <h2>
      <font color="white">つぶやきで、世界はつながる</font>
    </h2>
    
    
    <p>
      <font color = "white">今の気持ちをつぶやいてみよう！</font>
    </p>
    

    
   
    
　</div>
</div>
